body {
    background-color: var(--coolblue);
    overflow: hidden;
}

#waitingforc {
    animation: drop 3s ease forwards;
}

#waiting {
    border: 8px double var(--coolyellow);
    padding: 20px;
    border-radius: 20%;
}

#logo-svg {
    transform: scale(1.5);
    height: 300px;
}

#icon-svg {
    transform: scale(2.0);
    height: 100vh;
}

#santa{
    height: 100vh;
    width: 100vh;
}

@keyframes drop {
    0% {
        transform: translateY(-500px)
    }

    100% {
        transform: translateY(300px)
    }
}

.madewith {
    text-decoration: none;
    color: black;
    vertical-align: middle;
    position: absolute;
    animation: droplogo 3s ease forwards
}

@keyframes droplogo {
    0% {
        transform: translateY(-799px);
    }

    100% {
        transform: translateY(100px);
        bottom: 100px
    }
}

.case {
    text-transform: uppercase;
}

#Christmas {
    display: none;
}

#mobile {
    width:100%;
    height: 100vh;
    display: none;
    overflow: hidden;
}

#laptop{
    display: none;
}

.glow {
    z-index: 10000;
    font-size: 9vh;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 1px;
}

.glowtwo{
    font-size: 9vh;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 1px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px var(--blue), 0 0 40px var(--blue), 0 0 50px var(--blue), 0 0 60px var(--blue), 0 0 70px var(--blue), 0 0 80px var(--blue);
    }
}